[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "vendor/cglm"]
	path = vendor/cglm
	url = https://github.com/recp/cglm
[submodule "vendor/flecs"]
	path = vendor/flecs
	url = https://github.com/SanderMertens/flecs
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb
